@media only screen and (max-width: 800px) {

    body {
        height: 100%;
        width: 100%;
        overflow-x: hidden;
        box-sizing: border-box;
    }

    nav{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 15rem;
        width: 100%;
        border-bottom:3px solid  rgb(40, 248, 127);
        position: absolute;
        border-right: none;
        z-index: 0;
    }

    .atajos {
        display: none;
    }

    section {
        margin: 0;
        padding: 0;
        width: 100%;
        left: 0;
    }

    .home{
        width: 100%;
        padding: 0;
        margin-top: 20rem;
        text-align: center;
    }

    .home-text{
        margin: 0;
        display: inline;
    }

    .home-text{

        h1{
            font-size: 3rem;
        }

        h2{
            font-size: 2rem;
        }
    }

    .my{
        margin-top:10rem;
        width: 100%;
        padding-left: 10px;
        font-size: 2rem;
    }

    .my-text{
        margin: 0;
    }

    .languages{
        padding: 0;
        margin: 0;
        width: 100%;
        padding-left: 10px;
        font-size: 2rem;
    }

    .languages-content{
        margin: 0;
    }

    .education{
        padding-left: 10px;
        margin: 0;
        width: 100%;
        font-size: 2rem;
    }

    .cert-content{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .projects{
        padding-left: 10px;
        margin: 0;
        width: 100%;
        font-size: 2rem;
    }

    .contact {
        padding-left: 10px;
        margin: 0;
        width: 100%;
        font-size: 2rem;
    }

    .contact ul{
        padding-left: 10px;
    }

    .contact ul li{
        margin: 30px 0;
        font-size: 25px;
    }
}